.AddDriver {
  box-sizing: border-box;
  padding-top: 20px;
  height: 100vh;


  &__container {

    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    height: calc(100% - 40px);
    overflow: auto;
  }

}

.Form {
  display: flex;

  flex-direction: column;
  gap: 14px;
  padding: 30px;
  margin-bottom: 90px;


  &__submitButton{
    align-self: end;
    max-width: 240px;
  }

  &__SixForm{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 20px;
  }

  &__group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 240px;
  }

  &__block {
    display: flex;
    gap: 14px;
  }

  &__calendar{
    display: flex;
    align-items: start;
    justify-content: start;
    position: relative;
  }

  &__Passport{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    &__id{
      padding: 20px 0 14px 0;
      display: flex;
      gap: 5px;
      align-items: center;
    }

    &__info{
      display: flex;
      flex-direction: column;
      gap: 14px;

      &__block{
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__Adress{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 20px;

    &__info{
      display: flex;
      flex-direction: column;
      gap: 14px;

      &__block{
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }

  &__ForeignPassport{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 20px;

    &:hover{

    }

    &__block{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

  }

  &__DrivingLicense{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 20px;

    &__block{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

  }

  &__ADR{
    display: flex;
    flex-direction: column;
    gap: 14px;

    &__block{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

  }
}