.AccountPage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;

}

.InfoBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;

  &__container {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    max-width: 550px;
  }


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 30px;


    &__infoContainer {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 16px;

      &__information {
        display: flex;
        //justify-content: space-between;

      }

      &__title {
        width: 132px;
      }
    }
  }
}