.TrailerItem{
  display: flex;
  justify-content: space-between;
  padding: 33px 20px;
  border-bottom: 1px solid #CED4DA;
  transition: 0.3s ease;
  &:hover{
    background-color: #FFFDF4;
  }

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 90%;
    gap: 10px;
  }


  &__item{
    flex: 0 0 11%;
    color: #141414;
    font-size: 14px;
  }

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #EDEFF1;
    height: 26px;
    width: 26px;
    margin-right: 8px;
  }
}