.SuccessPopup {
  position: fixed;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 100;

  &__content {
    //box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: #D0FEED;
    border-radius: 16px;
    padding: 18px;

    backgroundColor: white;
    borderRadius: 5px;
    boxShadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    textAlign: center;
    lineHeight: 50px;

    &__imageBlock {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      border-radius: 60px;
    }

  }


}
