.StatusBlock{
    //position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #EDEFF1;
    height: 26px;
    width: 26px;
    margin-right: 8px;
 }