.BillsItem{
  display: flex;
  justify-content: space-between;
  padding: 33px 20px;
  border-bottom: 1px solid #CED4DA
;

  &__container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 45%;
    gap: 10px;
  }

  &__container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 45%;
    gap: 10px;
  }


  &__item{
    flex: 1 1 14%;
    color: #141414;
    font-size: 14px;
  }

  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
  }
}