.EditNavigationLayout{

  height: 100%;

  overflow-block: hidden;
}



.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;


  &__text {
  }

}

.NavBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

  }


  &__arr_left {
    cursor: pointer;
    rotate: (90deg);
  }

  &__text{
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
}

.Status{
  //position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EDEFF1;
  height: 26px;
  width: 26px;
  margin-right: 8px;
}