.TrailerPage {
  box-sizing: border-box;
  padding-top: 20px;

  height: 100%;


  &__container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    height: 100%;

  }
}

.btnBlock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;

  &__btn{
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
  }

}


.headerTrailer{
  background-color: #FAFAFA;
  border-radius: 6px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 23px 20px;

  }


  &__dataTabs {
    display: flex;
    justify-content: space-between;
    flex: 0 1 90%;
    gap: 10px;


    &__tab {
      flex: 0 0 11%;
      color: #6A7178;
      font-size: 14px;
    }
  }


  &__status {
    color: #6A7178;
    font-size: 14px;

  }
}

.Trailers{
  height: 50vh;
  overflow: scroll;
  padding-bottom: 20px;
  border-bottom: 1px solid #CED4DA;

}



.searchBlock__inputBlock__img:hover + .searchBlock__inputBlock__answerBlock {
  opacity: 1;
}

.EmptyPage {
  padding-top: 200px;
  height: 100%;
  &__container {
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 100%;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__img {
    max-width: 152px;
    max-height: 140px;
  }


}